.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    max-width:100%;
    height:auto;
    max-height:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.title {
    font-family: 'Rochester', cursive;
    font-size: 67px;
    color: rgb(179, 134, 23);
}